html{
    box-sizing: border-box;
  }

*, *:before, *:after{
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul{ 
    margin: 0px;
    padding: 0px;
    font-weight: 900;
}

:root{
    --dark-orange: #FBA200;
    --orange: #FEC32A;
    --dark: #224357;
    --light-gray: #EBF2FA;
    --medium-gray: #C3DEEE;
    --dark-gray: #A6D0E1;
    --roxo: rgb(235, 75, 75);
    --stroke: 14px solid var(--dark);
    --radius: 50%;
  }
  
body{
   background-color: var(--roxo);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
  
}
  
.bb8{
    width: 320px;
    height: 320px;
    position: relative;
}

.bb8 .body{
    width: 320px;
    height: 320px;
    border-radius: var(--radius);
    background-color: var(--light-gray);
    border: var(--stroke);
    overflow: hidden;
    position: relative;
    animation: wheel 1.6s linear infinite;
}
  
.bb8 .body .circles{
    border-radius: var(--radius);
    border: var(--stroke);
    background-color: var(--orange);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    z-index: 0;
}

.bb8 .circles:before{
    content: "";
    width: 80px;
    height: 80px;
    background-color: var(--medium-gray);
    position: absolute;
    border-radius: inherit;
    border: var(--stroke);
}

.bb8 .circles:after{
    content: "";
    width: 100px;
    height: 14px;
    background-color: var(--dark);
    position: absolute;
}

.bb8 .circles:nth-child(1){
    top: -30px;
    left: -40px;
}

.bb8 .circles:nth-child(2){
    top: -280px;
    left: 190px;
    width: 250px;
    height: 250px;
}

.bb8 .circles:nth-child(3){
    top: -250px;
    left: 110px;
}
  
.bb8 .circles:nth-child(1):after{
    top: 70px;
    left: 160px;
}

.bb8 .circles:nth-child(2):after{
    transform: rotate(120deg);
    left: -10px;
    top: 261px;
} 

.bb8 .circles:nth-child(3):after{
    transform: rotate(-120deg);
    left: -60px;
    top: -24px;
} 
  
.bb8 .body:after, .bb8 .body:before{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: var(--radius);
    background-color: var(--dark);
    position: absolute;
    top: 200px;
    left: 70px;
}

.bb8 .body:before{
    top: 131px;
    left: 190px;
}

.bb8 .shadows{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    box-shadow: inset 10px 30px rgba(37, 65, 76, 0.2), inset -10px -30px rgba(37, 65, 76, 0.2);
      border-radius: var(--radius);
}
  
.bb8 header{
    width: 320px;
    height: 320px;
    position: absolute;
    z-index: 9;
      animation: head 2s linear infinite;
}

.bb8 .head{
    width: 230px;
    height: 230px;
    background-color: var(--light-gray);
    border-radius: 50%;
    clip-path: inset(0 0 50%);
    border: var(--stroke);
    position: absolute;
    box-shadow: inset 18px 0px #fff, inset -18px  0px var(--medium-gray)
}
  
.bb8 .base-angle{
      width: 230px;
      height: 33px;
      background-color: var(--dark-gray);
      border: var(--stroke);
      border-top: 0;
      position: absolute;
      bottom: 173px;
}
  
.base-angle.left{  
      left: 20px;
      clip-path: inset(0 50% 0 0);
      transform: skew(50deg);
}
  
.base-angle.right{
        right: 110px;
      clip-path: inset(0 0 0 50%);
      transform: skew(-50deg);
}

.bb8 .position-head{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -114px;
    left: 45px;
}

.bb8 .eye{
    width: 90px;
    height: 90px;
    background-color: #275A6E;
    border-radius: var(--radius);
    border: var(--stroke);
    overflow: hidden;
    clip-path: circle(100%);
    position: relative;
    animation: eye 2s linear infinite;
}

.bb8 .eye:after, .bb8 .eye:before{
    content:"";
    width: 10px;
    height: 120px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    transform: rotate(30deg);
    top:-10px;
}

.bb8 .eye:after{
    left: 50px;
}

.bb8 .eye:before{
    left: 20px;
}

.bb8 .head:before{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: var(--radius);
    background-color: var(--dark);
    position: absolute;
   right: 40px;
   bottom: 120px; 
}

.floor{
    width: 100%;
    height: 14px;
    position: absolute;
    background-color: var(--dark);
    left: 0;
}

.floor .breakers{
    position: absolute;
    width: 100%;
    animation: breakers 1.4s linear infinite;
}

.floor .breakers span{
    height: 15px;
    background-color: var(--roxo);
    position: absolute;
}

.floor .breakers span:nth-child(1){
    width: 30px;
    left: 0;
}

.floor .breakers span:nth-child(2){
    width: 40px;
    left: 20%;
}

.floor .breakers span:nth-child(3){
    width: 10px;
    left: 28%;
}

.floor .breakers span:nth-child(4){
    width: 30px;
    left: 70%;
}

.floor .breakers span:nth-child(5){
    width: 20px;
    left: 79%;
}

.floor .breakers span:nth-child(6){
    width: 10px;
    left: 83%;
}
  
@keyframes breakers{
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
}
  
@keyframes wheel{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}

@keyframes eye{
    0% { left: 0; }
    30% { left: 40%; }
    50% { left: 10%; }
    70% { left: 30%; }
    100% { left: 0%; }
}

@keyframes head{
    0% { transform: rotate(0deg); }
    30% { transform: rotate(30deg); }
    50% { transform: rotate(-40deg); }
    70% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}